<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>About Us</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .About-us {
	  width: 100%;
	  text-align: center;
	  background-color: #9FE2BF;
	  margin-top: 5px;
	  margin-bottom: 5px;
	}
	h1{
	  color: black;
	  font-size: 35px;
	}
	img {
	  border-radius: 50%;
	}
	
	p {
	  font-size: 20px;
	} 
    h3 {
	  text-shadow:
	}
    a {
      padding: 20px;
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	  background: #3B5998;
      color: white;
	  border-radius: 8px;
	 font-size: 50px;	  
   } 
</style>
</head>
<body>
  <div class="About-us">
    <h1> About Us </h1>
	<img src="https://media.istockphoto.com/photos/light-shiny-on-3d-gold-phone-icon-isolated-on-white-background-gold-picture-id1391533553?k=20&m=1391533553&s=612x612&w=0&h=iukDZLUmgwcM4xxH2du3Z8V-ryz7lKxgepruU9itohs=">
	<p>Along with FAQ and Contact pages, the About Us page is one of the first supporting pages you'll likely create for your website, regardless of the industry you're in.</p>
	<hr>
	<p>Unfortunately, About Us pages are too often treated as an obligation rather than the valuable opportunity they are to connect with your customers by selling your story, your vision, your mission.</p>
    <p>A well-built infographic might help visitors remember about you or your business better than any amount of words. So if you think it works better for your brand or business, skip the lengthy description, or add a well-designed graphic that can help your visitors understand your concept. Or maybe you would like to add a cool video about how your business was created, or about your story and let it speak for itself.</p>
   <h3> follow us on </h3>
   <a href="https://www.facebook.com/" class="fa fa-facebook"></a> 
   <a href="https://twitter.com/i/flow/login" class="fa fa-twitter"></a> 
   <a href="https://www.linkedin.com/home" class="fa fa-linkedin"></a> 
  </div>
</body>
</html>